{% extends 'layouts/customer-base.html' %}

{% block title %}view-products{% endblock title %}

{% block content %}
    <h1>View Available Motorbikes</h1>
    <div class="row">
        {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a> <a href="#" class="btn btn-primary">View product</a>
                </div>
            </div>
        </div>
     {% endfor %}
    </div>
{% endblock %}